html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*end of css reset*/
html{
    font-size: 62.5%;
    line-height: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/*General Body Styles*/
body {
    color: #222222;
    background: #FFFFFF;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/*Jumbotron Header Styles*/
.jumbo{
font-weight: bold;
font-size: 6.4rem;
line-height: 7.5rem;
color: #FFFFFF;
}

/*Subheader Styles*/
.subheader{
font-weight: bold;
font-size: 2.8rem;
color: #222222;
}


/*Header Styles*/
header nav {
    width: 100%;
    padding: 2% 0;
    font-size: 2rem;
    background-color: #828282;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    align-items: center;
    margin-right: 12%;
}

.navLinks a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 0 5%;
    white-space: nowrap;
}


.logo{
    margin-left: 5%;
}

.logo h2{
    font-weight: bold;
    font-size: 2.4rem;
    color: #FFFFFF;
    background-color: gray;
    font-weight: bold;
}

.hamburger img{
    background-color: gray;
}

.hamburger{
    margin-right: 5%;
    background-color: gray;
}

/*Homepage - Main Styles*/
#topHome{
    height:70vh;
    background-image:url(../img/home/home-jumbotron.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.learnMore, .viewDesigns{
    display: flex;
    margin: 0 10%;
}

.viewDesigns{
    flex-direction: row-reverse;
}

.topMain h2, .topMain p, .topMain a{
    padding: 2%;
    margin: 5%;
}

.topMain h2{
    margin-top: 20%;
}

.topMain a{
    border: 1px solid black;
    text-decoration: none;
    color: #222222;
    margin-left: 7%;    
}

.imgOne{    
    width: 80%;
    background-image:url(../img/home/home-img-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 50vh;
}


.imgTwo{    
    width: 80%;
    height: 50vh;
    background-image:url(../img/home/home-img-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}




/*Homepage 'Recent Project' - Styles*/

.recentProjects{
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.recentProjects p{
    width: 50%;
    margin: 0 auto;
    padding: 5% 0;
    
}

.recentProjects h3{
    border: 1px solid white;
    background-color: #D8D8D8;
    width: 36%;
    padding: 3% 0;
    text-align: center;
    letter-spacing: 1.5rem;
}


.villaTitle h3, .theBlocksTitle h3{
    margin-top: -5.5%;
    margin-left: 64%;
    position: relative;
}

.outskirtsTitle h3{
    margin-top: -5.5%;
    position: relative;

}

.villaImageContainer{    
    width: 130%;
    background-image:url(../img/home/home-villas-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40vh;
}

.outskirtsImageContainer{    
    width: 130%;
    background-image:url(../img/home/home-outskirts-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40vh;
}

.theBlocksImageContainer{    
    width: 130%;
    background-image:url(../img/home/home-the-blocks-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40vh;
}

/*Contact Header - Styles */
#topContact{
    height:35vh;
    background-image:url(../img/contact/contact-jumbotron.png);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

h1{
    width: 100%;
    margin-left: 30%;
    margin-bottom: 2%;
}

/*Contact Body - Styles*/

.main{
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
}

.main h2{
font-weight: bold;
font-size: 2.8rem;
color:#222222;
}

.main h3{
font-weight: bold;
font-size: 2.4rem;
color:#222222;
}

.left{
display: flex;
flex-direction: column;
}

.topform div{
    margin-top: 10%;
}

.topform input[type=text], select{
    width: 100%;
    padding: 2% 0;
    border-radius: 4px;
}

#commentform{
    width: 100%;
}

.topform input[type=submit]{
    background-color: #FFFFFF;
    padding: 3% 9%;
    
}

.topform .e-mail label{
    opacity: 50%;
    font-size: 1rem;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*About Us - Styles*/
#topAboutUs{
    height:35vh;
    background-image:url(../img/aboutus/design-build-banner.jpg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.aboutUsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.personOne, .personTwo, .personThree{
    display: flex;
    margin: 10% 10%;
}

.personTwo{
    flex-direction: row-reverse;
}

.aboutMain h2, .aboutMain p, .aboutMain a{
    padding: 2%;
    margin: 7%;
}

.aboutPhoto{
    height: 50%;
    width: 50%;
}


/*Footer Styles*/
footer{
    background-color: #828282;
    width: 100%;
    padding-top: 3%;
}

.footercontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.footer-email{
    margin-left: 10%;
    font-size: 1rem;
}

footer input{
    width: 100%;
    margin-top: 5%;
    padding: 2% 0;
}

.footer-locations {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    
}

.footer-locations address{
    font-size: 1.4rem;
    line-height: 2.6rem;
    color:#FFFFFF;
}

footer label{
    color: #FFFFFF;
}

footer h4{
    text-align: center;
    color:#FFFFFF;
    font-size: 1rem;
    padding-top: 1%;
}



/*Tablet Responsive*/
@media(max-width: 800px){


/*Header Responsiveness*/

    #topContact{ 
    background-image:url(../img/contact/contact-jumbotron.png);
        background-size: 110% 120%;
        height: 30vh;
	}
	
/* Home Page Body Responsiveness*/
.imgOne, .imgTwo{    
    height: 40vh;
}


.villaImageContainer, .outskirtsImageContainer, .theBlocksImageContainer{    
    height: 30vh;
}


/* Contact Page Body Responsiveness*/

    .right{
        align-items: center;
        margin-right: 10%;
    }

    .left{
        margin-left:10%;
    }

    .california{
        margin-left: 10%;
    }


    .left h2{
        margin-left: 18%;
        margin-top: 10%;
    }

    .topform input[type=text], select{
        width: 70%;
        padding: 2% 0;
        border-radius: 4px;
    }
    
    #commentform{
        width: 70%;
    }
    
    .topform .submit{
        margin-left: 20%;
    }

/*Footer Responsiveness */
    .footer-locations {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-email{
        margin-left: 4%;
    }

    .footer-locations .california{
        margin-left: 0;
    }

}


/*Mobile Responsive*/
@media(max-width: 500px){
    /*Mobile responsiveness head*/
    #topContact{ 
        background-image:url(../img/contact/contact-mobile-jumbotron.png);
        background-size: 100% 120%;
        height: 40vh;
    }

    .jumbo{
        margin-left: 1%;
        margin-bottom: 3%;
    }

    h1{
        margin-left: 5%;
        margin-bottom: 3%;
    }


    .navLinks {
        display: flex;
        align-items: center;
        margin-right: 10%;
    }
    
    .navLinks a{
        font-size: 1.3rem;
        padding: 0 3%;
    }


/*Home Page Responsiveness */
#topHome{ 
	background-image:url(../img/home/home-mobile-jumbotron.png);
	background-size: 100% 100%;
	height: 50vh;
}

#topHome .jumbo h1{
	margin: 0 0 5% 0;
}

.learnMore, .viewDesigns{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 0 3%;
}

.topMain h2{
    margin-top: 5%;
}

.topMain a{

	margin: 0;
	padding: 3% 30%;
	margin-left: 10%;

}

.imgOne{    
	height: 50vh;
    background-image:url(../img/home/home-mobile-img-1.png);
	margin-top: 10%;
}


.imgTwo{    
	height: 50vh;
    background-image:url(../img/home/home-mobile-img-2.png);
	margin-top: 10%;
}


.recentProjects{
    margin: 0;
}

.recentProjects p{
    width: 90%;
 
}

.villaImageContainer{    
    background-image:url(../img/home/home-villas-img.png);
    height: 20vh;
}

.outskirtsImageContainer{    
    background-image:url(../img/home/home-outskirts-img.png);
    height: 20vh;
}

.theBlocksImageContainer{    
    background-image:url(../img/home/home-the-blocks-img.png);
    height: 20vh;
}

.villaTitle h3, .theBlocksTitle h3, .outskirtsTitle h3{
	margin: 0 auto;
	margin-top: -5.5%;
	position: relative;
	width: 80%;
}

/*Contact Responsiveness*/

    .main{
        flex-direction: column;
    }

    .left h2{
        margin: 5% 50% 3% 0;
    }

    .left{
        align-items: center;
        margin: 0;
        }
    
        
    .topform div{
        margin-top: 5%;
    }

    .topform input[type=submit]{
        width: 100%;
        margin-bottom: 10%;
        
    }

    .topform .submit{
        margin-left: 0;
    }


    .right{
        align-items: flex-start;
        margin-left: 10%;
    }

    .right div {
        padding: 3%;
    }

    .footer-locations .california{
        margin-left: 10%;
    }

/*Footer Responsiveness*/


    .footercontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }


    .footer-email{
        margin-left: 0;
        width: 75%;
	}

    .footer-locations {
        width: 80%;
        flex-direction:column;
        align-items: flex-start;
    }

    .footer-locations div{
        padding: 3%;
    }

    footer h4{
        text-align: start;
        color:#FFFFFF;
        padding: 1% 0;
        margin-left: 12%;
    }

    .california{
        margin: 0;
    } 

    .footercontainer .california{
        margin: 0;
    }
}
